
.App-header {
  text-align: center;
  background-color: #282828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.category-select{
  color: #3500D3;
  padding: 8px 16px;
  border: 2px solid transparent;
}

.purple1{
  color: #240090;
}

.purple2{
  color:#190061;
}

